@charset "utf-8";
/* CSS Document */
.main{width:100%;height:1400px;background:url(../img/bg.png) repeat-y center #ccc;}
.top{height:28px;width:100%;background:url(../img/top_bg.jpg) repeat-x #fff;}
.top .top_conter{width:950px; height:24px; margin:0 auto; padding-top:4px;}
.top .top_conter .bg1{width:161px; height:21px; background:url(../img/shangjiabao.png);}
.top .top_conter .p1{width:102px; height:19px; border:1px solid #dcd6c5; font-size:11px; color:#ee0000; line-height:19px; text-align:center; background:url(../img/images/bg1_03.png) repeat-x; border-radius:3px;}
.top .top_conter .p1 i{display:inline-block; width:17px; height:17px; background:url(../img/images/3_03.png); vertical-align:bottom;}
.top .top_conter .top_nav  li{padding-left:9px; height:21px;  }
.top .top_conter .top_nav  li span{background:url(../img/top_list.png); width:1px; height:21px;}
.top .top_conter .top_nav a{font-size:11px; color:#303030; line-height:21px; margin-right:13px;}
.top .top_conter .top_nav  li.last{margin-right:56px;}
.header{width:950px; height:141px; margin:0 auto;}
.header .title{height:100px; width:950px;}
.header .title h1{ font-size:20px; font-weight:bold; margin-top:44px;}
.header .title .p1{padding-left:41px; height:22px; line-height:22px; font-size:16px; color:#101010; background:url(../img/images/phone_03.png) no-repeat left center; margin-top:56px; margin-right:5px;}
.header .title .p1 .phone{ color:#838586;}
.menu{height:24px;  background:url(../img/images/menu_bg_03.png) repeat-x center; padding-top:16px;}
.menu .main_menu{width:950px; height:40px; margin:1px auto; }
.menu .main_menu li{padding-right:50px; }
.menu .main_menu li.first{margin-left:43px;}
.menu .main_menu li a{ color:#fff; font-size:13px; }
.banner{ height:234px; width:950px; padding-top:9px; margin:0 auto;}

/*变化内容*/
.conter{width:950px; height:800px; background:#fff;margin:0 auto; padding-top:11px; position:relative;}
.conter .list{ width:212px; height:313px; border:1px solid #dbdbdb; padding-top:7px; padding-left:7px;  margin-left:4px;}
.conter .list li{ width:193px; height:19px; padding-left:13px; padding-top:9px; margin-bottom:9px; background:url(../img/images/bg2_03.png);}
.conter .list li a{ font-size:11px; color:#606160; font-weight:bold;}
.conter .list li a:hover{ color:#00adef;}
.conter_2{ height:580px;}
/*你们写的变动样式*/
.conter .news-list{width:700px; height:434px; margin-left:15px;}
.conter .news-list h2 a{width:672px; height:27px; font-size:12px; font-weight:bold; border-bottom:1px solid #dcdcdc; display:block; line-height:27px; background:url(../img/car.png) no-repeat 0 6px; padding-left:28px;}
.conter .news-list h2{margin-bottom:14px;}
.conter .news-list li{width:655px; height:27px; border-bottom:1px solid #e2e2e2; margin-left:10px; line-height:27px;padding:0 10px;}
.conter .news-list li a{font-size:12px; color:#838383;}
.conter .news-list li a span{ float:right;line-height:27px;}
.conter .news-list li a:hover{color:#0CF;}
.conter .news-shuzi{ position:absolute; right:308px; bottom:15px;}
.conter .news-shuzi li{width:30px; height:30px; margin-right:5px;}
.conter .news-shuzi li a{width:30px; height:30px; display:block; color:#797979; background:#bababa; line-height:30px; text-align:center; border-radius:5px;}
.conter .news-shuzi li a:hover{width:34px; height:34px; background:#0b0b0b; color:#fff; border-radius:5px; margin-right:5px;}
.conter .news-shuzi .three,.four{font-size:16px;}
/*新闻；市场动态*/
.conter .sale-list{width:700px; height:350px; margin-left:15px;}
.conter .sale-list h2 a{width:672px; height:27px; font-size:12px; font-weight:bold; border-bottom:1px solid #dcdcdc; display:block; line-height:27px; background:url(../img/car.png) no-repeat 0 6px; padding-left:28px;}
.conter .sale-list h2{margin-bottom:19px;}
.conter .sale-list .list-1{width:666px; height:160px; border-bottom:1px dashed #dbdbdb; margin-bottom:19px;}
.conter .sale-list .one{width:132px; height:102px; background:url(../img/car-1.png); margin-right:48px;}
.conter .sale-list .jianjia{font-size:13px; font-weight:bold; color:#303030；}
.conter .sale-list li{font-size:12px; color:#000; line-height:21px;}
.conter .sale-list li span{color:#fe0501;}
.conter .sale-list li .dayin{width:75px; height:19px; background:url(../img/tubiao.png); margin-right:6px;}
.conter .sale-list li .down{width:75px; height:19px; background:url(../img/tubiao2.png);}
.conter .sale-list .two{width:132px; height:102px; background:url(../img/car-2.png); margin-right:48px;}
/*优惠券*/
.conter .activity-list{width:700px; height:350px; margin-left:15px;}
.conter .activity-list h2 a{width:672px; height:27px; font-size:12px; font-weight:bold; border-bottom:1px solid #dcdcdc; display:block; line-height:27px; background:url(../img/car.png) no-repeat 0 6px; padding-left:28px;}
.conter .activity-list h2{margin-bottom:19px;}
.conter .activity-list .list-1{width:666px; height:160px; border-bottom:1px dashed #dbdbdb; margin-bottom:19px; position:relative;}
.conter .activity-list .one{width:132px; height:102px; background:url(../img/car-3.png); margin-right:48px;}
.conter .activity-list .jianjia{font-size:13px; font-weight:bold; color:#303030；}
.conter .activity-list li{font-size:12px; color:#000; line-height:26px;}
.conter .activity-list li span{color:#000; font-size:16px;}
.conter .activity-list li .dayin{width:75px; height:19px; background:url(../img/tubiao.png); margin-right:6px;}
.conter .activity-list .huodong{ position:absolute; right:0px; top:32px;}
.conter .activity-list .huodong p{font-size:11px; color:#7f7f7f;}
.conter .activity-list .huodong a{width:96px; height:28px; color:#fff; background:#cbcbcb; display:block; margin-top:12px; text-align:center; line-height:28px; font-size:16px; font-weight:bold; border-radius:6px;}
.conter .activity-list .huodong a:hover{background:#666;}
.conter .activity-list li .down{width:75px; height:19px; background:url(../img/tubiao2.png);}
.conter .activity-list .two{width:132px; height:102px; background:url(../img/car-4.png); margin-right:48px;}











.footer{ width:950px; margin:0 auto;}
.footer .line{ height:10px; width:950px; border-bottom:1px solid #7e8085;}
.footer .foot{ width:950px; height:113px; background:url(../img/images/t-foot_06.png);}
.footer .foot img{ margin-top:40px; margin-left:13px;}
.footer .foot p{ font-size:11px; color:#6a6b6d; margin-bottom:12px;}
.footer .foot .foot_p{ width:320px; margin-top:32px; margin-right:17px;}
