/* CSS Document */
.main{width:100%;height:1500px;background:url(../img/bg.png) repeat-y center #ccc;}
.top{height:28px;width:100%;background:url(../img/top_bg.jpg) repeat-x #fff;}
.top .top_conter{width:950px; height:24px; margin:0 auto; padding-top:4px;}
.top .top_conter .bg1{width:161px; height:21px; background:url(../img/shangjiabao.png);}
.top .top_conter .p1{width:102px; height:19px; border:1px solid #dcd6c5; font-size:11px; color:#ee0000; line-height:19px; text-align:center; background:url(../img/images/bg1_03.png) repeat-x; border-radius:3px;}
.top .top_conter .p1 i{display:inline-block; width:17px; height:17px; background:url(../img/images/3_03.png); vertical-align:bottom;}
.top .top_conter .top_nav  li{padding-left:9px; height:21px;  }
.top .top_conter .top_nav  li span{background:url(../img/top_list.png); width:1px; height:21px;}
.top .top_conter .top_nav a{font-size:11px; color:#303030; line-height:21px; margin-right:13px;}
.top .top_conter .top_nav  li.last{margin-right:56px;}
.header{width:950px; height:141px; margin:0 auto;}
.header .title{height:100px; width:950px;}
.header .title h1{ font-size:20px; font-weight:bold; margin-top:44px;}
.header .title .p1{padding-left:41px; height:22px; line-height:22px; font-size:16px; color:#101010; background:url(../img/images/phone_03.png) no-repeat left center; margin-top:56px; margin-right:5px;}
.header .title .p1 .phone{ color:#838586;}
.menu{height:24px;  background:url(../img/images/menu_bg_03.png) repeat-x center; padding-top:16px;}
.menu .main_menu{width:950px; height:40px; margin:1px auto; }
.menu .main_menu li{padding-right:50px; }
.menu .main_menu li.first{margin-left:43px;}
.menu .main_menu li a{ color:#fff; font-size:13px; }
.banner{ height:234px; width:950px; padding-top:9px; margin:0 auto;}

/*变化内容*/
.conter{width:950px; height:800px; background:#fff;margin:0 auto; padding-top:11px;}
.conter .list{ width:212px; height:313px; border:1px solid #dfdfdf; padding-top:7px; padding-left:7px;  margin-left:4px;}
.conter .list li a{ font-size:11px; color:#606160; font-weight:bold;}

.conter .list li{ height:21px; padding-top:9px; margin-bottom:6px; background:url(../img/images/bg2_03.png);
text-align:center; width:206px; }
.conter .list{ width:212px; height:313px; border:1px solid #dfdfdf; padding-top:7px; padding-left:7px;  margin-left:4px; margin-bottom: 9px;}
/*你们写的变动样式*/
/*商品详情页*/
.conter li.show-lnav1{
    background: url(../img/showbg1.png) repeat-x;
}
.conter li.show-lnav1 a{
    color: #fff;
}
.conter li.show-lnav2{
    background: url(../img/showbg2.png) repeat-x;
}
.conter li.show-lnavs{
    background: none;
    padding-top: 3px;
    height: 114px;
}
li.show-lnavs ul.lnavlist li{
    width: 181px;
    border-right: 1px solid #cbcbcb;
    margin:0 0 9px 12px;
}
li.show-lnavs ul.lnavlist li a{
    background: url(../img/suvbg.png) left center no-repeat;
    float: left;
    width: 74px;
   padding-left: 16px;
    margin-left: 57px;
}
.show-lbot{
    width: 216px;
    height: 226px;
    padding: 2px;
    margin-left: 3px;
    overflow: hidden;
    border: 1px solid #d0cece;
}
.right{
    margin-left: 16px;
    width: 708px;
}
.right h4{
    width:671px;
    height: 26px;
    line-height: 26px;
    padding-left: 30px;
    font-weight: bold;
    border-bottom: 1px solid #dcdcdc;
    background: url(../img/show-car.png) left center no-repeat;
}
.show-rcen{
    padding: 15px 0 0 15px;
}

.ware-img1{
    width: 289px;
    height: 219px;
    padding: 2px;
    border: 1px solid #d0cece;
}
.ware-img img{
    width: 100%;
    height: 100%;
}
.detail-img li{
    margin:11px 0 0 4px;
}
.detail-img img{
    width: 66px;
    height: 50px;
    border: 1px solid #d8d8d8;
}
.ware-msg{
    margin-left: 50px;
}
.ware-msg h5{
    font-weight: bold;
    line-height: 28px;
    font-size: 14px;
    margin-bottom: 12px;
}
.price{
    margin-bottom: 16px;
}
.price span{
    font-size: 22px;
    font-weight: bold;
    
}
.lookmun{
    background: url(../img/wujiaoxing.png) 50px center no-repeat;
    margin-bottom: 22px;
}
.butn{
    width: 137px;
    height: 42px;
    text-align: center;
    margin-top: 30px;
    background: url(../img/butn.png) no-repeat;
}
.butn a{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: 137px;
    height: 42px;
    line-height: 42px;
}
.big-img{
    padding: 22px 0 0 15px;
}
/*商品详情页副本*/
.show-copy{
    height: 874px;
}
.srig-list{
    padding:13px 3px 0 4px
}
.srig-list li{
    margin: 0 25px 34px 24px;
    float: left;
}
.smli-img{
    padding: 3px;
    border: 1px solid #9c9c9c;
}
.smli-img img{
    width: 172px;
    height: 128px;
}
.srig-list li p{
    width: 181px;
    height: 21px;
    line-height: 21px;
    background: #737373;
    text-align: center;
}
.srig-list li p a{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
.list-footer{
    width:148px;
    margin:0 auto;
}

.list-footer a{
    float: left;
    width: 30px;
    height: 30px;
    font-size: 12px;
    color: #797979;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    margin-right: 5px;
    border-radius: 4px;
    background: url(../img/yebiaobg.png) repeat-x;
}
.list-footer a:hover{
    width: 34px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    background: #2f2f2f;
}
/*footer*/
.footer{ width:950px; margin:0 auto;}
.footer .line{ height:10px; width:950px; border-bottom:1px solid #7e8085;}
.footer .foot{ width:950px; height:113px; background:url(../img/images/t-foot_06.png);}
.footer .foot img{ margin-top:40px; margin-left:13px;}
.footer .foot p{ font-size:11px; color:#6a6b6d; margin-bottom:12px;}
.footer .foot .foot_p{ width:320px; margin-top:32px; margin-right:17px;}
