@charset "utf-8";
/* CSS Document */
.main{width:100%;height:2000px;background:url(../img/bg.png) repeat-y center #ccc;}
.top{height:28px;width:100%;background:url(../img/top_bg.jpg) repeat-x #fff;}
.top .top_conter{width:950px; height:24px; margin:0 auto; padding-top:4px;}
.top .top_conter .bg1{width:161px; height:21px; background:url(../img/shangjiabao.png);}
.top .top_conter .p1{width:102px; height:19px; border:1px solid #dcd6c5; font-size:11px; color:#ee0000; line-height:19px; text-align:center; background:url(../img/images/bg1_03.png) repeat-x; border-radius:3px;}
.top .top_conter .p1 i{display:inline-block; width:17px; height:17px; background:url(../img/images/3_03.png); vertical-align:bottom;}
.top .top_conter .top_nav  li{padding-left:9px; height:21px;  }
.top .top_conter .top_nav  li span{background:url(../img/top_list.png); width:1px; height:21px;}
.top .top_conter .top_nav a{font-size:11px; color:#303030; line-height:21px; margin-right:13px;}
.top .top_conter .top_nav  li.last{margin-right:56px;}
.header{width:950px; height:141px; margin:0 auto;}
.header .title{height:100px; width:950px;}
.header .title h1{ font-size:20px; font-weight:bold; margin-top:44px;}
.header .title .p1{padding-left:41px; height:22px; line-height:22px; font-size:16px; color:#101010; background:url(../img/images/phone_03.png) no-repeat left center; margin-top:56px; margin-right:5px;}
.header .title .p1 .phone{ color:#838586;}
.menu{height:24px;  background:url(../img/images/menu_bg_03.png) repeat-x center; padding-top:16px;}
.menu .main_menu{width:950px; height:40px; margin:1px auto; }
.menu .main_menu li{padding-right:50px; }
.menu .main_menu li.first{margin-left:43px;}
.menu .main_menu li a{ color:#fff; font-size:13px; }
.banner{ height:234px; width:950px; padding-top:9px; margin:0 auto;}

/*变化内容*/
.conter{width:950px; height:874px; background:#fff;margin:0 auto;}
.conter .left{width:212px; height:320px; margin-top:10px;}
.conter .list{ width:212px; height:313px; border:1px solid #dbdbdb; padding-top:7px; padding-left:7px;}
.conter .list li{ width:191px; height:19px; border:1px solid #dbdbdb; padding-left:13px; padding-top:9px; margin-bottom:9px;}
.conter .list li a{ font-size:11px; color:#606160; font-weight:bold;}
.conter .list li a:hover{ color:#00adef;}
.conter img{width:220px; height:228px; margin-top:10px;border:1px solid #d0cecf;}
/*关于我们*/
.about-box{width:700px; height:860px; margin:10px auto 0;}
.about-box .us{height:28px; background:url(../img/car.png) no-repeat 5px 5px;padding-left:30px;border-bottom:1px solid #dbdbdb;}
.about-box .us a{color:#303030; font-size:12px; line-height:28px;}
.about-box .wen{width:678px; height:90px; text-indent:2em;margin-left:14px;margin-top:10px;}
.about-box .wen a{font-size:12px; color:#6c6c6c; line-height:24px; }
.about-box .tupian{width:665px; height:172px;margin-left:20px;margin-top:20px;}
.about-box .tupian img{width:665px; height:172px;}
.about-box .wen1{width:678px; height:90px; text-indent:2em;margin-left:14px;margin-top:10px;}
.about-box .wen1 a{font-size:12px; color:#6c6c6c; line-height:24px; }
.about-box .tupian1{width:665px; height:172px;margin-left:20px;margin-top:20px;}
.about-box .tupian1 img{width:665px; height:172px;}
.about-box .wen2{width:678px; height:90px; text-indent:2em;margin-left:14px;margin-top:25px;}
.about-box .wen2 a{font-size:12px; color:#6c6c6c; line-height:24px; }
.about-box .tupian2{width:665px; height:172px;margin-left:20px;margin-top:20px;}
.about-box .tupian2 img{width:665px; height:172px;}
.about-box .wen3{width:678px; height:90px; text-indent:2em;margin-left:14px;margin-top:25px;}
.about-box .wen3 a{font-size:12px; color:#6c6c6c; line-height:24px; }
.about-box .yy{height:24px;margin-top:55px; text-align:center;}
.about-box .yy a{font-size:12px; color:#6a6a6a; font-weight:bold;}
/*footer*/
.footer{ width:950px; margin:0 auto;}
.footer .line{ height:10px; width:950px; border-bottom:1px solid #7e8085;}
.footer .foot{ width:950px; height:113px; background:url(../img/images/t-foot_06.png);}
.footer .foot img{ margin-top:40px; margin-left:13px;}
.footer .foot p{ font-size:11px; color:#6a6b6d; margin-bottom:12px;}
.footer .foot .foot_p{ width:320px; margin-top:32px; margin-right:17px;}
